*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #2c2c2c;
}

.contact-form{
    background-color: #222222;
    max-height: fit-content;
    width: 52vw;

    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(20vh);
    /* border: solid 2px red; */
    border-radius: 10px;
    padding: 2vh 3vw;
    font-size: 30px;
    border: blue solid 1px;
}

#contact-me-heading{
    color: #fff;
    background-color: #222222;
    border: blue solid 1px;
}

.form-entries{
    display: flex;
    flex-direction: row;
    color: #2D2D2D;
}

.form-name, .form-email{
    margin-right: 4vw;
    border: blue solid 1px;
}

.form-email{
    margin-top: 5vh;
}

#name, #email{
    /* border: solid 1px blue; */
    width: 20vw;
    height: 6.5vh;
    border: none;
    border-radius: 5px;
    padding: 0px 5px;
    font-size: 18px;
    background-color: #fff;
    outline: none;
}

#name:focus{
    border: 1px solid rgb(71, 99, 255);
}

#email:focus{
    border: 1px solid rgb(255, 122, 135);
}

#message:focus{
    border: 1px solid rgb(161, 255, 169);
}

#message{
    resize: none;
    padding: 5px;
    overflow-y: scroll;
    max-width: 20rem;
    height: 40vh;
    border:  skyblue solid 2px;
    /* border: none; */
    border-radius: 5px;
    font-size: 18px;
    background-color: #fff;
    outline: none;
}

.form-send{
    border: yellow solid 1px;
    display: flexbox;
    height: 3.1rem;
    position: absolute;
    bottom: 3.5vh;
    left: 6.5vw;
}

.form-send-btn{
    background-color: rgba(128, 30, 205, 0.54);
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 10px 80px;
    font-size: 18px;
}

.contact-filler{
    font-size: 300px;
    /* border: yellow solid 1px; */
    font-weight: bold;

    -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.165);
    
}