:root{
    --color: #B960FF;
}

*{
    margin: 0;
    border: 0;
    color: #ffffff;
    font-family: 'Roboto', 'Open Sans', 'Source Code Pro', sans-serif;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body{
    background-color: #1b1b1b;
    overflow-x: hidden;
}


#frt-div{
    background-image: url(/home-map-bg.svg);
    background-repeat: no-repeat;
    padding:1rem;
    background-position:center;
    height: 100vh;
    background-size:contain;
    align-items: center;
    align-content: center;
    /* border:solid 2px yellow; */
}

.nav-bar{
    font-weight: lighter;
    font-size: 2.6vh;
    list-style: none; 
}

.outside-div{
    position: fixed;

    text-align: right;
    width: 100%;
    /* margin-right: 0px; */
    padding:2.0vh 0 2.0vh 0;
    background-color: black;
    z-index: 999;
}

.nav-bar-item{
    cursor: pointer;
    margin-right:3.5%;
    display: inline;
}

#hello{
    /* color:var(--color); */

}

.home-intro{
    /* border:solid 2px red; */
    position:absolute;
    display: inline-block;
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    right:15vw;
    bottom:40vh;
    /* background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
    -webkit-background-clip: text; */
}

.web-intro{
    position:absolute;
    display: inline-block;
    font-family: Roboto;
    font-style: normal; 
    right:18vw;
    bottom:10vh;
}

#web{
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    font-size: calc(3vw + 4vh);
    font-weight: normal;
    right:10vw;
    bottom :0vh;
}

.widden{
    color:var(--color);
    font-size: calc(2vw + 3vh);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Neonderthaw', cursive;
}

.who-am-i{
    font-size: calc(3vw + 4vh);
 
}
#madhavan{
    background-image: linear-gradient(150deg, #B960FF 0%, #a01666 100%);
    -webkit-background-clip: text;
    color: transparent;
    animation: name 2s infinite  ease-in;
    /* transition:1s; */
   
}



/* <--------- testing css --------->   */
#test{
    height: 100vh;
    margin-top: 10px;
    /* overflow-y: scroll; */

}

/* two */

.two{
    /* border:solid 2px red; */
    position: relative;
}

.filler-iot{
    font-size: calc(9vh + 15vw);
    font-weight: bolder;

    -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.213);
    position: absolute;
    top: 3vh;
    left: 3vw;


}

/* three */

.three{
    /* border:solid 2px blue; */
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
   
   
}

.boy-talking{
    /* border: 1px solid brown; */
    position: absolute;
    top: 20vh;
    left: 35vw;
}
.girl-talking{
    position: absolute;
    top: 20vh;
    right: 32vw;
    /* border: 1px solid brown; */

}

#eqn1{
    position: absolute;
    -webkit-user-drag: none;
    /* object-fit: cover; */
    top: 42%;
    left: 35%;
    height: 4vh;
    width: auto;
}

#eqn2{
    position: absolute;
    -webkit-user-drag: none;
    top: 50%;
    height: 4vh;
    width: auto;
}

/* four */

.leetcode {
    z-index: 1;
    position: absolute;
    top: 21vh;
    left: 13vw;
    height: 50vh;
    width: 25vw;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.02);
    border-radius: 9px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.leetcode-logo{
    position: relative;
    /* border: 1px solid red; */
}

.leetcode-heading{
    margin: auto;
    /* border: 1px solid red; */
}

.leetcode-stats{
    /* border: 1px solid red; */
    /* background-color: white; */
    margin-top: 4vh;
    margin-left: 2vw;
    width: 21vw;
    height: 18vh;
}

.leetcode-btn{
    display: flexbox;
    position: absolute;
    bottom: 5vh;
    left: 8vw;
}

.leetcode-btn a{
    text-decoration: none;
    background-color: #7239FF;
    cursor: pointer;
    color: #fff;
    border-radius: 3vh;
    border: none;
    padding: 1.2vh 3.2vw;
    font-size: 2vh;
    font-weight: 100;
}

#leetcode-logo-img{
    display: block;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.four{
    /* border:solid 2px green; */
    position: relative;

}

.filler-dev{
    position: relative;
    font-size: 34vh;
    font-weight: bolder;
    -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.213);
    top: 10vh;
    left: 2vw;
}

.filler-competitive{
    position: relative;
    font-size: 34vh;
    font-weight: bolder;
    -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.213);
    top: 14vh;
    left: 20vw;
}

/* five */

.five{
    /* border: solid 1px #B960FF; */
    position: relative;
}

/* Contact Form */

.contact-form{
    position: absolute;
    top: 28%;
    left: 10%;

    background-color: #121212;
    max-height: fit-content;
    width: 52vw;
    font-weight: 100;

    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* transform: translateY(20vh); */
    /* border: solid 2px red; */
    border-radius: 10px;
    padding: 2vh 2.6vw;
    font-size: 3.8vh;
    /* border: blue solid 1px; */
}

#contact-me-heading{
    color: #fff;
    background-color: #121212;
    /* border: blue solid 1px; */
}

.form-entries{
    display: flex;
    flex-direction: row;
    color: #2D2D2D;
}

.form-name, .form-email{
    margin-right: 4vw;
    /* border: blue solid 1px; */
}

.form-email{
    margin-top: 5vh;
}

#name, #email{
    /* border: solid 1px blue; */
    width: 20vw;
    height: 6.5vh;
    border: none;
    border-radius: 0.3vw;
    padding: 0vh 0.5vw;
    font-size: calc(0.8vh + 0.8vw);
    font-weight: 100;
    background-color: #fff;
    color: #222;
    outline: none;
}

#name:focus{
    border: 2px solid #4763ff;
    box-shadow: inset 0px 0px 40px 40px #4763ff2c;
}

#email:focus{
    border: 2px solid #ff7a87;
    box-shadow: inset 0px 0px 40px 40px #ff7a872c;
}

#message:focus{
    border: 2px solid #a1ffa9;
    box-shadow: inset 0px 0px 100px 100px #a1ffa92c;

}

#message{
    resize: none;
    padding: 5px;
    overflow-y: scroll;
    /* max-width: 100vw; */
    /* min-width: 10vw; */
    height: 40vh;
    width: 20vw;
    /* border:  skyblue solid 2px; */
    /* border: none; */
    border-radius: 0.3vw;
    font-size: calc(0.8vh + 0.8vw);
    font-weight: 100;
    background-color: #fff;
    color: #222;
    outline: none;
}

.form-send{
    /* border: yellow solid 1px; */
    display: flexbox;
    position: absolute;
    bottom: 3.5vh;
    left: 8.4vw;
}

#form-send-btn{
    background-color: rgba(128, 30, 205, 0.54);
    cursor: pointer;
    color: #fff;
    border-radius: 0.8vh;
    border: none;
    padding: 1.5vh 3.8vw;
    font-size: 2.5vh;
    font-weight: 100;
}

.contact-filler{
    position: absolute;
    top: 25%;
    left: 57%;

    font-size: 40vh;
    font-weight: bold;
    /* border: yellow solid 1px; */

    -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.063);
    
}

.contact-filler-1{
    position: absolute;
    top: 3vh;
    font-family: 'Kirang Haerang', cursive;
    color: #ffffff77;
    font-size: 2.5vh;
    /* border: solid 1px red; */
}

/* terminal part */



.outer{
 margin:calc(10vh + 5vw) 0vh 0vh 1.5vw;
    width: 40vw;
    height: 50vh;

    background-color: #171d22;
    z-index: 111;
    /* transform: translateY(20vh); */
   
    border-radius: 0.5vw;
    box-shadow: 3px 3px 3px 3px #0000005f;
}

.top{
    /* border: green 1px solid; */
    border-radius: 0.5vw 0.5vw 0 0;
    display: flex;
    background-color: #1c2327;
    width:40vw;
    height: 3vh;
    padding: 0.5vh 0vw 4.2vh 1.2vw;
    position: relative;
}

.circle{
    margin: 1vh 0.25vw;
    height: 1.7vh;
    width: 1.7vh;
    border-radius: 100%;
}

#circle-1{
    background-color: rgb(143, 0, 0);
}

#circle-2{
    background-color: rgb(150, 150, 150);
}

#circle-3{
    background-color: rgb(0, 97, 0);
}

.code-box{
    /* border:solid 2px rgb(186, 186, 186); */
    color:rgba(255, 255, 255, 0.801);
    font-family: 'Abel', sans-serif;
    font-size: calc(0.6vw + 0.9vh);
    padding: 1.3vh 0vh 0vh 1.3vh;
}

#code-box-parent{
    /* border:solid 2px rgb(186, 186, 186); */
    height: 44.7vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}
#code-box-parent::-webkit-scrollbar{
display: none;
}

.default-text{
    /* border:solid 2px rgb(186, 186, 186); */
    color:rgba(255, 255, 255, 0.815);
    font-family: 'Abel', sans-serif;
    font-size: calc(0.6vw + 0.9vh);
    padding: 1.3vh 0vh 0vh 1.3vh;
}

.terminal-title{
    text-align: center;
    position: absolute;
    width:37.5vw;
    /* border: 1px solid green; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(1vh + 0.5vw);
    color: #ffffff65;
}


.temp_terminal::after{
    
        content: "";
        /* position: absolute; */
        height:calc(1.5em+3vw);
        border-right: solid 4px #ffffff;
        animation: terminal 150ms infinite ease;
}

@keyframes terminal{
    0%{
        opacity: 0;
    }
 
 
    90%{
        opacity: 1;
    }
}

/* buttons */
#term-btn{
    display: flex;
    flex-direction:column;
    /* border:solid 2px rgb(0, 238, 255); */
}

.mainbtn{
    /* border:solid 2px purple; */
    display: flex;
 justify-content: center;
}
.ard-btn{
    margin: 2vh 10px 0  0;
    background-color: black;
    border-radius: 2px;
}

/* arduino  */
.arduino{
    /* border:solid 2px rgb(0, 224, 11); */
     margin:5vw 0vw 0vw 25vw;
     width: calc(10vw + 10vh);
     height: 100%;

}

.arduino img{
    width: 100%;
    height: auto;
   
}

.flex_terminal{
    display: flex;
}

/* terminal-screen */

.screen{
    display: flex;
    width: 40vw;
    transform:translate(50vw,-4vh);
    /* border: pink solid 1px; */
    flex-direction: column;
}

.screen-row-flex{
    display: flex;
}

.screen-chip-plate{
    /* border: purple solid 1px; */
    padding: 3vh 1vw;
    border-radius: 8px;
    background-color: rgb(0, 34, 23);
    width: 40vw;
    height: 25vh;
}

.screen-pins-all{
    position: relative;
    /* border: 1px solid greenyellow; */
    height: 1vh;
    max-width: 40vw;
    display: flex;
    flex-direction: row;
}

.screen-pin{
    background-color: gainsboro;
    width: 2px;
    height: 1vh;
    margin-left: 8px;
}

#screen-pin1{
    margin-left: 4vw;
}

.screen-pin-type-2{
    border-radius: 2px 2px 0px 0px;
    position: absolute;
    background-color: #979797;
    width: 1.5vw;
    height: 0.4vh;
    bottom: 0;
    margin-left: 22vw;
}

#screen-pin-type-2-1{
    margin-left: 25vw;
}

#screen-pin-type-2-2{
    margin-left: 28vw;
}

.screen-casing{
    background-color: #181818;
    border-radius: 3px;
    width: 38vw;
    height: 19vh;
    padding: 4vh;
    border: dotted 1px #ffffff3a;
    overflow-y: hidden;
}

.screen-screen{
    border: dotted 1px #0000003a;
    border-radius: 7px;
    position: relative;

    font-family: 'Open Sans', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
   overflow-y: hidden;
    background-color: #10382a;
    color: #000000d5;
    width: 100%;
    height: 11vh;
    font-weight: bold;
}


#screen-screen-text{
    position: absolute;
    padding: 3.1vh 1vh;
    font-size: calc(1vh + 1vw);
    font-family: 'Source Code Pro', monospace;
}



.right-pins-all{
    position: relative;
    width: 10vw;
    height: 25vh;
    /* border: 1px yellow solid; */
}

.right-screen-pin{
    position: absolute;
    width: 0.5vw;
    height: 1px;
    background-color: wheat;
}

#right-screen-pin1{
    position: absolute;
    top: 3vh;
}

#right-screen-pin2{
    position: absolute;
    top: 4vh;
}

#right-screen-pin3{
    position: absolute;
    top: 5vh;
}

.right-screen-pin-type2{
    position: absolute;
    top: 11vh;
    width: 0.3vw;
    height: 3.5vh;
    background-color: rgb(0, 18, 77);    
    border-radius: 0px 3px 3px 0px;
}


/* cursor animation */

.cursor{
    position :fixed;
    left: 20px;
    top: 25px;
    width: 25px;
    height: 25px;;
    background-image: linear-gradient(132deg, #f13ff4 0%, #a01646 100%);
    border-radius:50%;
    z-index: 11111;
    animation : cursoranime 2s infinite ease;
}
@keyframes cursoranime{
    0%, 100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
      /* transform: scale(0.8); */
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      transform: scale(1.1);
    }
    95%{
        transform:scale(0.9);
    }
  }
  