:root{
    --color: #B960FF;;
}


*{
    margin: 0;
    border: 0;
    color: #ffffff;
    font-family: 'Roboto', 'Open Sans', 'Source Code Pro', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #2c2c2c;
}

#frt-div{

    background-image: url(/home-map-bg.svg);
    background-repeat: no-repeat;
    padding:1rem;
    background-position:center;
   height: 100vh;
       background-size:contain;
    align-items: center;
    align-content: center;

}


.nav-bar{

    list-style: none;
      
}



.outside-div{
text-align: right;
    /* width: 10%; */
/* margin-right: 0px; */
padding:2.0vh 0 2.0vh 0;
 background-color: black;

}



.nav-bar-item{
    margin-right:2%;
display: inline;

    
}





#hello{
    color:var(--color);
}


.home-intro{

    /* border:solid 2px red; */
    position:absolute;
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
<<<<<<< HEAD
    right:15vw;
    bottom:40vh;
  
}
.web-intro{
    position:absolute;
    display: inline-block;
    font-family: Roboto;
    font-style: normal; 
    right:18vw;
    bottom:10vh;

}
#web{

    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    font-size: calc(3vw + 4vh);
    /* font-weight: 1; */
    right:10vw;
    bottom :0vh;

=======
    font-weight: 50;
    font-size: 98px;
    line-height: 117px;
>>>>>>> a753cd4c6113d4e73b3a8ff660046e73b5a151b2
}


.widden{
    color:var(--color);
    font-size: calc(2vw + 3vh);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Neonderthaw', cursive;

}
.who-am-i{
font-size: calc(3vw + 4vh);
 
}

<<<<<<< HEAD
/* <--------- testing css --------->   */
#test{
    height: 100vh;
    margin-top: 10px;

}
.two{
    border:solid 2px red;
}

.three{
    border:solid 2px blue;
}

.four{
    border:solid 2px green;
}
=======
#who-am-i{
    font-size: 98px;
}

>>>>>>> a753cd4c6113d4e73b3a8ff660046e73b5a151b2
